extends ./pug/templates/base
block vars
  - var title='Olga Butenop portfolio'
block content
  .page-about.page
    header.page-header(style="background: url('./src/images/foto_multiplay.jpg') 0 0 no-repeat; background-size: cover;    background-attachment: fixed")
      .header-languages
        span.lang ru
        span.icon-multiply
        span.lang.active en
      .header
        h1 About (CV)
      .header-scroller#header-scroller
        span scroll
        span.icon-download-arrow

      .header-links
        ul
          li
            a(href="#exhibitions") Exgibitions, festivals
          li
            a(href="#awards") Awards and Rating
          li
            a(href="#curatorial") Curatorial projects
    .content
      .content-wrapper
        p Graduated from the Biology department, MSU in 2008. Graduated from the Photojournalism department, MSU in 2009. Member of the Russian Union of Art Photographers since 2010. Graduated Galina Moskaleva's Workshop at the "Izvestia" school in 2011. Graduated The Institute of Contemporary Art Moscow (ICA Moscow) in 2013. 

        h2 Artist Statement

        h3(id='exhibitions') Exhibitions, festivals:

        b 2017 
        ul
          li "Workshop 20’17". "Where no one dreams: from sacred geography to no-place". Moscow Museum of Modern Art (MMOMA). Russia, Moscow.
          li Borderline Conditions. Self-organized pop-up exhibition. MERES art space. Nicosia. Cyprus
          li Burger's mythology. Art space “Polygraphy Hall”. Russia. Moscow
          li Zapoi! (Booze!). Zverev Center of Contemporary Art, Russia, Moscow.
        b 2016
        ul
          li 5th Moscow International Biennale for Young Art, "Deep Inside", Main Project, Russia. Moscow
          li Exhibition "The Threats". Art space “Polygraphy Hall”. Russia. Moscow
          li Art program of the festival "Troitsa. All alive." Russia, Moscow region, Elektrougli
          li "Artistic supervision of the world perfection. Inside the city". Bogorodskoe Gallery. Russia. Moscow
          li Exhibition "The Temptation of St. Anthony". Art space “Polygraphy Hall”. Russia. Moscow
          li The exhibition project "Antimuseum". "Elektromuzey". Russia, Moscow.
          li Exhibition "Crime scene". Art space “Polygraphy Hall”. Russia. Moscow
        b 2015
          ul
            li Video program "Limits of transparency" at the opening of the exhibition "Panopticon" (a Special Program 6th Biennale of Contemporary Art), curator Marina Ragozina.
            li "Return a 15 percent when purchasing a set of". Bogorodskoe gallery. Russia. Moscow
            li "Return a 15 percent when purchasing a set of". Bogorodskoe gallery. Russia. Moscow
            li Video show Videoformes pop-up within the Polytech.Science.Art. Russia, Moscow
            li Exhibition "The Artistic Community of Moscow". Moscow museum. Russia, Moscow
            li "Workshop 20’15". Sub observationem. Moscow Museum of Modern Art (MMOMA). Russia, Moscow.
            li The exhibition "Goodnight." Vadim Siddur Museum within the "Night at the Museum". Project with Natalie Alexander 
            li "Military Museum". Moscow Museum of Modern Art (MMOMA). Russia, Moscow.
            li SWATCH & MMOMA POP-UP GALLERY. Videoart from the collection of MMOMA. Russia, Moscow
            li International Art Festival Я - I AM. Russia, Moscow
        b 2014
        ul
          li IV Krasnoyarsk International Media Art Festival. Krasnoyarsk, Russia. Special award in the nomination "video work"
          li "Space of no exception". CCA "Sokol". Moscow, Russia.
          li "The Voice ofMoscow". The Cultural Foundation "Ekaterina". Moscow, Russia.
          li "Unlimited clinical examination". Children's sanatorium "October". Moscow region, Istrinsky district, Russia
          li "Wherefore-Зачем". Studio of Contemporary Art "ArtTochka".
          li "Balance". Group exhibition at Random gallery. Moscow, Russia.
          li "Here, the other side". APT Gallery. London, United Kingdom
          li "Border actions". Special project within The Moscow International Biennale for Young Art. MMOMA. Moscow, Russia.
          li International Video Art Festival "Now&After’14". Moscow, Russia.
          li Woman's exhibition. Artplay. Moscow, Russia.
          li Lost and found. ARTPLAY. Moscow, Russia.

        b 2013 
        ul
          li Exhibition "MMXIII*". Art-space "Perimetr". Moscow, Russia.
          li Graduation exhibition ICA Moscow 2012-2013. Lost and Found. ARTPLAY. Moscow, Russia.
          li "It is difficult about the simple". Studio of Contemporary Art "ArtTochka".
          li 17 International Art Fair (Central House of Artist). Moscow, Russia.
          li Project with Natalie Alexander and individual on the festival "Art moment / Liberating Territory". ARTPLAY. Moscow, Russia.
          li Project with Natalie Alexander and individual on STUDENT Art Prom "Night Videoart". ARTPLAY. Moscow, Russia.
          li 30 days of anticipation, ICA student's exhibition within the framework of ArtProm festival, ARTPLAY. Moscow, Russia.
          li Project with Natalie Alexander at the "Instructions for application". Studio of Contemporary Art "ArtTochka".
          li Project with Natalie Alexander at equidistant program "Night at the Museum": A night of video art, "It's not here". Moscow, Russia.
          li Exhibition "Sopromat" at the Institute of Contemporary Art, Moscow. 
          li Project with Natalie Alexander at competition on exhibition "Silver Camera 2012." Moscow, Russia.

        b 2012
        ul
          li Project with Natalie Alexander on "Moscow Youth Prize Malevich" (Central House of Artist). Moscow, Russia.
          li The exhibition «Transition» (by Multimedia Art Museum). Moscow, Russia.
          li Annual International Exhibition Of Young Art "Workshop 20’12". Special Program of "III Moscow International Biennale For Young Art". Moscow, Russia.

        b 2011
        ul
          li "Stars: A Way to the Big Picture" (Art Center, M’ARS). Moscow, Russia. 
          li "Young photographers of Russia - 2011". Kazan, Russia
          li Parallel program at the Moscow International Festival "Fashion and Style in Photography 2011". Moscow, Russia.
          li Photo exhibition of pupils of Vladimir Vyatkin (Photo Center, Moscow). 

        b 2010
        ul
          li Exhibition "The Sun in the big city". Moscow, Russia.


        h3(id='awards') Award
        ul
          li Special award in the nomination "Video work" on IV Krasnoyarsk International Media Art Festival. Krasnoyarsk, Russia, 2014.


        h3 Rating
        ul
          li InArt Rating of 100 Young Artists 


        h3 Group projects

        p 2013 – Art event "Trolleybus exhibition" Moscow, Russia.
        p 2013 –"Palimpsest. Glow" a 12-hour happening at the I.Kabokov's workshop" Moscow, Russia.


        h3(id='curatorial') Curatorial projects
        ul
          li 2014 - сompetition "mini video" within a International Video Art Festival "Now&After’14". Co-curators - Marina Fomenko, Natalia Alexander. Museum of GULAG. Moscow, Russia.
          li 2013 - public-art festival "Acting Arts". ARTPLAY. 

        p Author of the project:<br>Media project "ART UZEL" - all about contemporary art


        a(href='Publications.html' class='h2-like') Publications, reviews, interviews


