extends ./pug/templates/base
block vars
  - var title='Artist Olga Butenop'
block content
  .page-artist.page
    header.page-header(style="background: url('./src/images/foto_artist_multiplay.jpg') center center no-repeat; background-size: cover; background-attachment: fixed")
      .header-languages.hide
        span.lang ru
        span.icon-multiply
        span.lang.active en
      .header
        h1 ARTIST STATEMENT
      .header-scroller.hide#header-scroller
        span scroll
        span.icon-download-arrow

    .content
      .content-wrapper
        p I began exhibit my first installation and digital collage since 2011, videoart – sins 2013. Today I have been working with this media and also - with mixed media. 

        p The themes of my works based on perception and memory, the relationship to time and living space, change and transformation of reality and consciousness. I research how heterotopias influence on people's attitudes. My works also are about the problem of the interconnection between different societies, based on the replacement of the dialogue with a conflict.

        p Usually I search information for my works in the internet. I compare the obviously virtual space with the real one. And the real space becomes more and more simulative little by little. 

        p With project “15 points” I research 15 countries engulfed in the war. With Google maps I made series of short videos filmed as amateur video camera. The process of exploring the terrain was continuously accompanied by the unification of heterotopies, first was a closed, deceptively safe, as a true reality, where I was, with another heterotopies of all those places that were visited through virtual environment space. In the research process came the realization of the proximity of these heterotopies, the isolation inconsistency, the imaginary safety, globality and the world communities connectedness.

        p In “The Free Space” I connected to 6 cameras from various places unprotected by a password. These six web cameras and people in their range served as a kind of artistic media for me, so that I could make six abstract images narrating about the movements of people in a closed space. Joining the Video Hams community, I reflected on the role of privacy and reality in today's life.

        p For “The Memory Machine” I've asked people in the internet blogs to tell about their first memories from life. These were people whom I had never seen or known. So I got a set of visual images from different lives. Then, I sounded these memoirs with computer voice. I created an image of android aggregation memory of fifty strangers by means of video taping of endlessly spinning turbine. This is the set of stories devoid of voices and images of storytellers. Somehow wrote to me once: "It’s looks like you took a strawberry and deprived its taste, color and smell." Yes, it is.

        p I decided to make an experiment of myself. The experiment was fixed in video “Manus. The counter of my hatred”. Expressing hatred of another point of view, to another way of life or statement, I put a note in a school notebook. I concentrate on my own thoughts and actions. When I as an ordinary human in my humdrum day "go with the flow" simply, or don't bear responsibility for the consequence of my actions and words over and over again, I become one of the sources or transmitters are sending small charges of hate to as over a net and as a result are the explosion of the bombs, the next bloodshed and violence.        

