extends ./pug/templates/base
block vars
  - var title='Olga Butenop'
block content
  .page-main
    header
      .header-wrapper
        .header-left
          .header-left-bg
          .header-left-hello
            p hello 
            p i'am an artist from moscow
        .header-right
          .header-right-bg
            h1 Olga Butenop
          .header-right-hello
            p Wellcome to my website

      .header-scroller#header-scroller
        span scroll
        span.icon-download-arrow
    nav.main-nav
      ul
        li.about
          a(href="about.html") about(cv)
        li.portfolio(style="background: url('./src/images/portfolio_bg.jpg') 0 0 repeat")
          a(href="portfolio.html") portfolio
          .bg(style="background: url('./src/images/portfolio_page_bg.jpg') center center no-repeat; background-size: cover")
        li.artist
          a(href="portfolio.html") artist statement
        li.publications
          a(href="reviews.html") publications, reviwes, interviews
        li.contacts
          a(href="portfolio.html") contacts