extends ./pug/templates/base
block vars
  - var title='Olga Butenop publications'
block content
  .page-publications.page
    header.page-header(style="background: url('./src/images/foto_publikationst_multiplay.jpg') center center no-repeat; background-size: cover;    background-attachment: fixed")
      .header-languages.hide
        span.lang ru
        span.icon-multiply
        span.lang.active en
      .header
        h1
        script
          | document.querySelector('h1').textContent = document.body.clientWidth < 1100 ? 
          | 'publications': 'publications, reviwes, interviews';
      .header-scroller#header-scroller.hide
        span scroll
        span.icon-download-arrow
    .content
      .content-wrapper
        p A contemporary art world for Dummies. What is the biennale and the triennial? Ksenia Sergienko. Interview. | Современный художественный мир для чайников. Что такое биеннале и триеннале? Ксения Сергиенко. Интервью

        p Review of the exhibition "Mythology of burger". Anna Borisova. Review | Рецензия на выставку "Мифология бургера". Анна Борисова. Миф как синоним обмана.

        p The Calvert Journal. Future present: ten rising stars at the Moscow Young Art Biennale

        p Review of the exhibition "The Temptation of St. Anthony". Succeeded temptation. Anna Borisova. Review | Рецензия на выставку «Искушение святого Антония». Искушение удалось. Анна Борисова. Обзор 

        p Publication in Special Anniversary issue of LandEscape Art Review. Interview.

        p Novaya Gazeta. About what speaks Moscow? Review | Новая газета. О чем говорит Москва? Обзор

        p Video on Moscow 24. Comment about the work. Cultural Foundation "Ekaterina" opened the exhibition "The voice of Moscow" | Фонд культуры "Екатерина" открыл выставку "Говорит Москва"

        p Interview on Snapbox.ru - "Ольга Бутеноп: Очень большая печень"

        p Московские новости - "Момент игры"
